{% extends "user/profile-page-base.html.twig" %}

{% block top_flash_messages %}{% endblock %}

{% block profile_content %}
    {{ form_start(form) }}
    <div class="card-body">
        <h2 class="mb-4">{{ 'Account'|trans }}</h2>
        {{ form_errors(form) }}
        {{ include("includes/flash-messages.html.twig") }}

        <h3 class="card-title">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-ban"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M5.7 5.7l12.6 12.6" /></svg>
            &nbsp;
            {{ 'Ban %name% (%email%)'|trans({"%name%": user.name, "%email%": user.email }) }}
        </h3>

        <div class="alert alert-warning" role="alert">
            <div class="d-flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        <polyline points="11 12 12 12 12 16 13 16"></polyline>
                    </svg>
                </div>
                <div>
                    <h4 class="alert-title">{{ "Attention:"|trans }}</h4>
                    <div class="text-secondary">
                        <p>{{ "When banning a user, please provide a reason for the ban. This reason will be displayed to the user whenever "~
                            "they attempt to log in with the banned email address. Keep in mind that once banned, the user will no longer be "~
                            "able to access the site using that email address. It is important to provide a clear and valid reason, as it "~
                            "will be shown to the user upon login attempts."|trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            {{ form_row(form.reason) }}
        </div>

    </div>

    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            <button id="ban-btn" type="submit" class="btn btn-danger">
                {{ "Ban user!"|trans }}
            </button>
        </div>
    </div>
    {{ form_row(form.userId) }}
    {{ form_row(form._token) }}
    <script>
        const email = document.getElementById("ban_user_reason");
        const button = document.getElementById('ban-btn');
        const disableBtn = () => {
            button.setAttribute("disabled", null);
            button.classList.add('disabled');
        };
        const enableBtn = () => {
            button.removeAttribute("disabled");
            button.classList.remove('disabled');
        }

        email.addEventListener("keyup", () => {
            console.log(email.value)
            if (email.value !== "") {
                enableBtn();
                return;
            }
            disableBtn();

        });
        disableBtn();

    </script>
{% endblock %}