{% extends "user/profile-page-base.html.twig" %}

{% block top_flash_messages %}{% endblock %}

{% block profile_content %}
    {{ form_start(form) }}
    <div class="card-body">
        <h2 class="mb-4">{{ 'Account'|trans }}</h2>
        {{ form_errors(form) }}
        {{ include("includes/flash-messages.html.twig") }}

        <h3 class="card-title">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-id-badge-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12h3v4h-3z" /><path d="M10 6h-6a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h16a1 1 0 0 0 1 -1v-12a1 1 0 0 0 -1 -1h-6" /><path d="M10 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M14 16h2" /><path d="M14 12h4" /></svg>
            &nbsp;
            {{ 'Personal details'|trans }}
        </h3>

        <div class="mb-2">
            {{ form_row(form.name) }}
        </div>

        {% set email = form.email.vars %}
        {% set validClass =  user.isVerified ? "is-valid is-valid-lite" : "is-invalid is-invalid-lite" %}

        <div class="mb-3">
            <label for="{{ email.id }}" class="form-label {{ email.required ? "required"}}">{{ email.label }}</label>
            <input type="email" id="{{ email.id }}" name="{{ email.full_name }}" {{ email.required ? 'required="required"'}} class="form-control {{ validClass }} mb-2" value="{{ email.value }}" />
        </div>

        {% if user.isVerified == false %}
        <div class="mb-2">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <h3 class="mb-1">{{ "Your email address has not been verified yet."|trans }}</h3>
                <p>{{ "Please check your inbox for the verification email. If you didn’t receive it, click the button below to resend the confirmation link."|trans }}</p>
                <div class="btn-list">
                    <a href="{{ path("resend-email-link", {"userId": user.userId}) }}" class="btn btn-warning">{{ "Resend confirmation" }}</a>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            {% if is_granted(constant('App\\Domain\\User::ROLE_ADMIN')) %}
                <a href="{{ path("users") }}" class="btn btn-secondary" role="button">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
                    {{ "Users list"|trans }}
                </a>
            {% endif %}
            <div class="flex-grow-1"></div>
            <button type="submit" class="btn btn-primary">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checks"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                {{ "Update"|trans }}
            </button>
        </div>
    </div>
    {{ form_row(form.userId) }}
    {{ form_row(form._token) }}
{% endblock %}